<h3>Sign In</h3>

<form action="/admin" method="POST">

  <Label for="username">Username</Label>
  <input type="text" placeholder="Enter Username" name="username">

  <Label for="password">Password</Label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">

</form>

<!-- <h3>Register</h3>
<form action="/register" method="POST">

  <Label for="username">Username</Label>
  <input type="text" placeholder="Enter Username" name="username">

  <Label for="password">Password</Label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form> -->